<% @articles.each do |article| %>
  <div class = "all-btn">
    <div class = "art-button">
      <%= image_tag article.image, class: "img-title" %>
      <%= link_to article.title, article_path(article.id) %>
        <div class = "txt-word">
          <span>Known Words:</span>
          <span><%= article.words.known_words.size %></span>
          <span>Study Words:</span>
          <span><%= article.words.study_words.size %></span>
        </div>
    </div>
  </div>
<% end %>
