<div class = "bg-container">
  <%= render '/articles/aside' %>
  <div class="content-container">
    <%= render '/articles/article' %>
  </div>


  <div class="btn-newtext">
    <button><%= link_to "Add a New Text" %></button>
  </div>
</div>
