<section class="container">
  <div class="row text-center">
    <h1>Your study words</h1>
  </div>

  <% @words.each do |word| %>
    <div class="row">
      <div class="col-xs-1">&nbsp;</div>

      <div class="col-xs-4">
        <h3><%= word.name %></h3>
        <p><%= word.translation %></p>
      </div>

      <div class="col-xs-3">
        <button data-wordid="<%= word.id %>">Add to known words</button>
      </div>

      <div class="col-xs-3">
        <p>Edit translation</p>
      </div>

      <div class="col-xs-1">&nbsp;</div>
    </div>
  <% end %>
</section>
