// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-word {
  color: blue;
}

.study-word {
 color: #B23835 ;
}

.word:hover {
 background-color: #eee;
 cursor: pointer;
}

.translation {
 position: fixed;
 background-color: white;
 display:block;
 z-index:1;
 font-size: 25px;
 padding: 10px;
 top: 0;
 right: 0;
}

.add-article-form {
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.add-article-form .text-center {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-article-form input:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-article-form textarea:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-article-form {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-article-form .image {
  margin-left: -53px;
}

.add-article-form .text {
  margin-left: -10px;
}

.add-article-form .source {
  margin-left: -32px;
}

.new-article-btn {
  background-color: #99e600;
  color: black;
  padding: 7px 40px 7px 40px;
  border-radius: 10px;
  font-size: 17px;
  margin-left: 30px;
}

.new-article-btn:hover {
  background-color: #558000;
  color: white;
}

label .new-article-content {
  margin-top: -50px;
}

.article-show {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 40px 100px 60px 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  background-color: white;
}

.article-show h1 {
  margin-bottom: 30px;
}

.art-body {
  padding-bottom: 50px;
  padding-top: 15px;
}

.article-show span {
  font-size: 22px;
}

.article-show span:hover {
  background-color: #cccccc;
  border-radius: 3px;
  padding: 2px;
}

.article-show .art-footer {
  font-size: 22px;
}

.article-show .study-word {
  color: #99e600;
}

.article-show .study-word:hover {
  color: white;
}

.translation {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  background-color: white;
  margin-top: 550px;
  margin-right: 900px;
}

promptBox {
  background-color: green;
}
