// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.study-word {
  color: #B23835;
}

.word:hover {
  background-color: #eee;
  cursor: pointer;
}

.translation {
  position: fixed;
  background-color: white;
  display:block;
  z-index:1;
  font-size: 25px;
  padding: 10px;
  top: 0;
  right: 0;
}
