@import "bootstrap-sprockets";
@import "bootstrap";

body {
background: url("http://res.cloudinary.com/dpwjutqio/image/upload/v1463058336/BG-img-01_jnrgs4.jpg") no-repeat center center fixed;
background-size: cover;

}
.all-btn{
 left: 0;
 top: 50%;
 width: 100%;
 text-align: center;
 font-size: 18px;

}
.art-button{
border: none;
background: white;
padding: 40px 30px 40px 30px;
font-size: 17px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 829px;
max-width: 100%;
height: 150px;
max-height: 100%;

}

.art-button:hover {
  background-color: #ededed
}

.art-button:active {
  background-color: #ededed;
  box-shadow: 10 5px #666;
  transform: translateY(4px);
}

.img-title{
  width: 50px;
  display: inline-block;
}

.txt-word{
  font-size: 10px;
  color: red;

}
 // LOGO
 #company_logo{
  margin-top: 40px;
  width:188px;
  height:66px;
  background-image: url("http://res.cloudinary.com/dpwjutqio/image/upload/v1463058336/DUMA-logo_dynhi3.png");
  background-size: cover;
  display: inline-block;
 }
 // HEADER
 .header{
   width: 1000px;
   max-width: 100%;
   margin: auto;
 }

 .ul-style {
   position: absolute;
   right: 270px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
.li-style{
  display: inline;
  text-align: center;
  padding: 14px 16px;
  color: black;
  text-decoration: none;
}

.bg-container{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: 1000px;
  height: 550px;
  background-color: white;
  margin: auto;
  overflow: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.tags{
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  min-height: 200px;
  max-width: 100%;
}

.btn-newtext{
  max-width: 100%;
  max-height: 100%;
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: #99e600;
  border-radius: 10px;
  direction: none;
}

.nav-container{
  overflow: hidden;
  position: absolute;
  width: 200px;
  top:0;
  bottom: 0;
  left:0;
}

.content-container{
  margin-left: 160px;
  transition: margin-left .5s ease;
}

.bg-container.nav-menu-closed .nav-menu{
  margin-left: -160px;

}

.nav-menu{
  position: relative;
  margin-left: 0;
  width: 160px;
  height:500px;
  background: #eee;
  transition: margin-left .5s ease;
}



.bg-container.nav-menu-closed .content-container{
  margin-left: 0px;
}

.nav-toggle{
  position: absolute;
  right: -30px;
  top: 0px;
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: red;
}
