@import "bootstrap-sprockets";
@import "bootstrap";

body {
background: url("BG-img-01.jpg") no-repeat center center fixed;
background-size: cover;

}
.all-btn{
 left: 0;
 top: 50%;
 width: 100%;
 text-align: center;
 font-size: 18px;

}
.art-button{
border: none;
margin: auto;
background: white;
padding: 40px 30px 40px 30px;
font-size: 17px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 700px;
max-width: 100%;
height: 150px;
max-height: 100%;

}

.art-button:hover {
  background-color: #ededed
}

.art-button:active {
  background-color: #ededed;
  box-shadow: 10 5px #666;
  transform: translateY(4px);
}

.img-title{
  width: 50px;
  display: inline-block;
}

.txt-word{
  font-size: 10px;
  color: red;

}
 // LOGO
 #company_logo{
// margin: 10px 10px 10px 10px;
width:199px;
height:50px;
background-image: url("DUMA-logo.png");
background-size: cover;
display: inline-block;
 }
 // HEADER
 .header{
   width: 1000px;
   max-width: 100%;
   margin: auto;
 }

 .ul-style {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
.li-style{
  float: right;;
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: black;
  text-decoration: none;
}

.bg-container{
max-width: 100%;
max-height: 100%;
width: 1000px;
height: 550px;
background-color: white;
margin: auto;
overflow: scroll;
}

.tags{
  background-color: blue;
  width: 100px;
  height: 200px;
  max-width: 100%;
}

.under-container{
  max-width: 100%;
  max-height: 100%;
  width: 1000px;
  height: 50px;
  background-color: white;
  margin: auto;
  margin-top: 10px;
}
